name: python-linters

on: [push, pull_request]

jobs:
  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4 
        with: 
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run black
        run: black --check --diff .

      - name: Run isort
        run: isort --profile black .

      - name: Run flake8
        run: flake8 --max-line-length 95 app/

      - name: Run mypy
        run: mypy .

      - name: Run pytest
        run: pytest -v --asyncio-mode=auto
